.Accueil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background); 
  cursor: url('../assets/Donut_cursor.cur'), auto;
}
.Accueil-link {
   cursor: url('../assets/Donut_cursor.cur'), auto;
  }

.Homer-wrapper {
  position: relative; /* Indispensable pour l'overlay */
  display: inline-block;
  
}

.Accueil-Homer {
  display: block;
  max-width: 100%;
  height: auto;
  border: 3px solid var(--border);
  border-radius: 15px;
}

/* On crée une zone invisible par dessus les yeux de l'image */
.Eyes-overlay {
  position: absolute;
  top: 75.8%;    /* Ajuste ces % selon la position des yeux sur ton image */
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 160px;   /* Ajuste l'écartement entre les deux pupilles */
}

.Eye-socket {
  width: 120px;  /* Taille approximative de l'œil sur l'image */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
 /* background: rgba(255, 0, 0, 0.2); / Décommente pour voir où tu places les yeux*/
}

.Pupil {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  will-change: transform;
}