.characters-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px;
  justify-items: center;
}

/* BOUTON AJOUT D'UN PERSONNAGE */
.btn-add-main {
  background-color: #4caf50;
  color: var(--cloud);
  border: 3px solid var(--border);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 4px 4px 0px var(--bonus);
  transition: all 0.1s;
}

.btn-add-main:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #000;
}

.btn-add-main:active {
  transform: translate(0, 0);
  box-shadow: 2px 2px 0px #000;
}

.search-input {
  width: 250px;
  outline: none;
  transition: border-color 0.2s;
  background-color: var(--cloud);
  border-color: var(--border);
}

.search-input:focus {
  border-color: var(--border); 
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.Characters-containerSearchAdd {
  display: flex ;
  justify-Content : space-between;
  align-Items: center;
  padding-Right: 3rem;
  padding-Left: 3rem;
  gap: 1rem;
}

.Characters-search-input {
  padding: 10px;
  border: 3px solid #000;
  border-Radius: 10px;
  font-Family: sans-serif;
}